.vs
Debug
Log.txt
Release/LTTimer.tlog
Release/Log.txt
Release/LTTimer.exe.recipe
Release/LTTimer.iobj
Release/LTTimer.log
Release/LTTimer.pdb
Release/LTTimer.ipdb
Release/LTTimer.vcxproj.FileListAbsolute.txt
Release/LTTimer.Build.CppClean.log
Release/main.obj
Release/timer.obj
Release/vc142.pdb
Release/vc143.pdb
